.App {
  text-align: left;
}

.App-map {
  height: 1605px;
  object-fit: cover;
}

.circle {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  outline-width: 5px;
  outline-color: rgb(140, 0, 0);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
